
@model Car

<form asp-area="Admin" asp-controller="Crud" asp-action="Update" method="post" style="margin: 40px">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Image Path</label>
        <input asp-for="ImgPath" type="text" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Model</label>
        <input asp-for="Model" ImgPath type="text" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Type</label>
        <input asp-for="Type" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input asp-for="Price" type="tel" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input asp-for="Description" type="text" class="form-control" id="exampleInputPassword1">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>