@using GameStore.DAL.Models
@model TrendingGames

<form asp-area="Admin" asp-controller="Games" asp-action="Create" method="post" style="padding: 30px;">
  <div class="form-group">
    <label for="exampleInputEmail1">ImgUrl</label>
    <input asp-for="ImgUrl" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
        <input asp-for="Price" type="text" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Genre</label>
        <input asp-for="Genre" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="exampleInputPassword1">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>