@model ProductModel

<div class="item-list" style="padding: 20px;">
    <div class="avatar">
        <img src="~/assets/uploadedImages/@Model.ImgPath" alt="..." class="avatar-img rounded-circle" />
    </div>
    <div class="info-user ms-3">
        <div class="username">@Model.Title</div>
        <div class="status">@Model.Desc</div>
    </div>
    <button class="btn btn-icon btn-link op-8 me-1">
        <i class="far fa-envelope"></i>
    </button>
    <button class="btn btn-icon btn-link btn-danger op-8">
        <i class="fas fa-ban"></i>
    </button>
</div>
