@using HotelMvc.Models
@model List<Human>

<h2>Human List</h2>

<form asp-action="Index" method="post">
    <label for="FullName">Name:</label>
    <input type="text" name="Name" placeholder="Please enter a name" required />

    <label for="Age">Age:</label>
    <input type="number" name="Age" placeholder="Please enter an age" required />

    <button type="submit">Submit</button>
</form>

<hr />

<h3>Saved Humans</h3>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
            </tr>
        }
    </tbody>
</table>
